*~
\#*\#
.vscode

# build output
build
[_.]build

# typical cache directories
.*[cC]ache*

# cache/dump
*.json
*.yaml
*.log
*.txt

# reports
*.html
*.js
*.css

# archives/compressed files
*.tar
*.zip
*.gz
*.bz
*.xz

# scratch directories
tmp
